body{
    background-color: #1f5aa6;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
}

.container{
    width:1200;
    height:120px;
    padding-top: none;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.logo{
    width: 240px;
    height: 120px;
    background-color:white ;
    margin-left: 15px;
    display: flex;
    float: left;
    border: black 1px solid;
}

.header{
    height:120px;
    width: 980px;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-style: normal;
    font-size: 2.5rem;
    background-color:#131140;
    display: flex;
    float: left;
    margin-right:none;
    margin-left: 1px;;
    border: white 1px solid;
}
.addnew{
    width: 400px;
    height: 220px;
    background-color: #131140;
    display: flex;
    float: left;
    border: rgb(255, 255, 255) 2px solid;
    border-radius: 10px;
    padding: 5px;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    color: white;
    margin-top: 20px;
    margin-left: 15px;
}
.addnew p{
    margin-left: 50px;
    margin-top: 10px;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    color: white;
    text-decoration: underline;

}
.btn{
    background-color: #F2811D;
    color: white;
    border: white 2px solid;
    border-radius: 10px;
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    width: 90px;
    height: 30px;
    position: relative;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    justify-content: center;
}
.btn:hover{
    background-color: white;
    color: #F2811D;
    border-color: #F2811D;
}