body{
  background-color: #1f5aa6;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
}

.container{
  width:1200;
  height:120px;
  padding-top: none;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.logo{
  width: 240px;
  height: 120px;
  background-color:white ;
  margin-left: 15px;
  display: flex;
  float: left;
  border: black 1px solid;
}

.header{
  height:120px;
  width: 980px;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-weight: bold;
  font-style: normal;
  font-size: 2.5rem;
  background-color:#131140;
  display: flex;
  float: left;
  margin-right:none;
  margin-left: 1px;;
  border: white 1px solid;
}
 



  
 


 
 
 .box{
  width: 200px;
  height: 10px;
  border: 2px solid;
  background-color: #131140;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  justify-items: center;
  color: white;
  margin-top: 50px;
  display: flex;
  align-items: center;
  margin-left: 500px;
}

.box1{
  width: 200px;
  height: 10px;
  border: 2px solid;
  background-color: #131140;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  justify-items: center;
  color: white;
  margin-top: 20px;
  margin-left: 8px;
}

.student-list{
  color: white;
  align-items: center;
}

