body {
  background-color: #1f5aa6;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
}

.container {
  width: 1200;
  height: 120px;
  padding-top: none;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.logo {
  width: 240px;
  height: 120px;
  background-color: white;
  margin-left: 15px;
  display: flex;
  float: left;
  border: black 1px solid;
}

.header {
  height: 120px;
  width: 980px;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-weight: bold;
  font-style: normal;
  font-size: 2.5rem;
  background-color: #131140;
  display: flex;
  float: left;
  margin-right: none;
  margin-left: 1px;
  border: white 1px solid;
}
.container2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 30px;
}

.row {
  display: flex;
  flex-direction: row;
  border-bottom: none;
  border-top: none;
  width: 100%;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  border: white 2px solid;
  border-radius: 15%;
  width: 300px;
  height: 250px;
  background-color: #131140;
  margin: 10px;
}
.column p {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: white;
}
.button {
  background-color: #f2811d;
  color: white;
  border: white 2px solid;
  border-radius: 10px;
  font-size: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  width: 90px;
  height: 30px;
  position: relative;
  left: 150px;
  top: 110px;
}
.button:hover {
  background-color: white;
  color: #f2811d;
  border-color: #f2811d;
}
