.background{
    background-image: url("Assets/Images/Login-background.jpg");
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.login-box{
    border: 2px solid rgb(255, 255, 255);
    border-radius: 15px;
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}